footer.footer
  .footer-inner
    .footer-brand
      .footer-logo 🍊 NCCFOOD
      p.footer-desc Hoa quả tươi ngon - nhập khẩu chính hãng, giao hàng tận nơi trong 24h - 48h.
    .footer-col
      p.footer-heading Sản phẩm
      ul.footer-links
        li: a(href="/products") Tất cả sản phẩm
        li: a(href="/products?cat=nhap-khau") Nhập khẩu
        li: a(href="/products?cat=noi-dia") Nội địa
    .footer-col
      p.footer-heading Hỗ trợ
      ul.footer-links
        li: a(href="#") Liên hệ
        li: a(href="#") Chính sách đổi trả
        li: a(href="#") Hướng dẫn đặt hàng
    .footer-col
      p.footer-heading Theo dõi
      ul.footer-links
        li: a(href="#") Facebook
        li: a(href="#") Instagram
        li: a(href="#") Zalo
  .footer-bottom
    span 2025 NCCFOOD. NGUYEN VIET LUONG.
    span Made with 🍊 in Vietnam
