footer.footer
  .footer-inner
    .footer-brand
<<<<<<< HEAD
      .footer-logo 🍊 FruitShop
      p.footer-desc Hoa qua tuoi ngon nhap khau chinh hang, giao hang tan noi trong 24h.
    .footer-col
      p.footer-heading San pham
      ul.footer-links
        li: a(href="/products") Tat ca san pham
        li: a(href="/products?cat=nhap-khau") Nhap khau
        li: a(href="/products?cat=noi-dia") Noi dia
    .footer-col
      p.footer-heading Ho tro
      ul.footer-links
        li: a(href="#") Lien he
        li: a(href="#") Chinh sach doi tra
        li: a(href="#") Huong dan dat hang
    .footer-col
      p.footer-heading Theo doi
=======
      .footer-logo 🍊 NCCFOOD
      p.footer-desc Hoa quả tươi ngon - nhập khẩu chính hãng, giao hàng tận nơi trong 24h - 48h.
    .footer-col
      p.footer-heading Sản phẩm
      ul.footer-links
        li: a(href="/products") Tất cả sản phẩm
        li: a(href="/products?cat=nhap-khau") Nhập khẩu
        li: a(href="/products?cat=noi-dia") Nội địa
    .footer-col
      p.footer-heading Hỗ trợ
      ul.footer-links
        li: a(href="#") Liên hệ
        li: a(href="#") Chính sách đổi trả
        li: a(href="#") Hướng dẫn đặt hàng
    .footer-col
      p.footer-heading Theo dõi
>>>>>>> cd9bc7445ababde8cfe5703f8775c41cd21cc98c
      ul.footer-links
        li: a(href="#") Facebook
        li: a(href="#") Instagram
        li: a(href="#") Zalo
  .footer-bottom
<<<<<<< HEAD
    span 2025 FruitShop. All rights reserved.
=======
    span 2025 NCCFOOD. NGUYEN VIET LUONG.
>>>>>>> cd9bc7445ababde8cfe5703f8775c41cd21cc98c
    span Made with 🍊 in Vietnam
