footer.footer
  .footer-inner
    .footer-brand
      .footer-logo 🍊 FruitShop
      p.footer-desc Hoa qua tuoi ngon nhap khau chinh hang, giao hang tan noi trong 24h.
    .footer-col
      p.footer-heading San pham
      ul.footer-links
        li: a(href="/products") Tat ca san pham
        li: a(href="/products?cat=nhap-khau") Nhap khau
        li: a(href="/products?cat=noi-dia") Noi dia
    .footer-col
      p.footer-heading Ho tro
      ul.footer-links
        li: a(href="#") Lien he
        li: a(href="#") Chinh sach doi tra
        li: a(href="#") Huong dan dat hang
    .footer-col
      p.footer-heading Theo doi
      ul.footer-links
        li: a(href="#") Facebook
        li: a(href="#") Instagram
        li: a(href="#") Zalo
  .footer-bottom
    span 2025 FruitShop. All rights reserved.
    span Made with 🍊 in Vietnam
